<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		{% block head %}
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Arise Admin Dashboard" />
		<meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Themeforest, Bootstrap, C3 Graphs, D3 Graphs, NVD3 Graphs, Admin Skin, Black Admin Dashboard, Grey Admin Dashboard, Dark Admin Dashboard, Simple Admin Dashboard, Simple Admin Theme, Simple Bootstrap Dashboard, Invoice, Tasks, Profile" />
		<meta name="author" content="Ramji" />
		<link rel="shortcut icon" href="/static/img/fav.png">
		<title>Dashboard - Admin Dashboard - Arise Admin Panel </title>
		
		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css"  rel="stylesheet" media="screen" />

		<!-- Main CSS -->
		<link href="/static/css/main.css"  rel="stylesheet" media="screen" />

		<!-- Ion Icons -->
		<link href="/static/fonts/icomoon/icomoon.css"  rel="stylesheet" />
		
		<!-- C3 CSS -->
		<link href="/static/css/c3/c3.css"  rel="stylesheet" />

		<!-- NVD3 CSS -->
		<link href="/static/css/nvd3/nv.d3.css"  rel="stylesheet" />

		<!-- Horizontal bar CSS -->
		<link href="/static/css/horizontal-bar/chart.css"  rel="stylesheet" />

		<!-- Calendar Heatmap CSS -->
		<link href="/static/css/heatmap/cal-heatmap.css"  rel="stylesheet" />

		<!-- Circliful CSS -->
		<link rel="stylesheet" href="/static/css/circliful/circliful.css"  />

		<!-- OdoMeter CSS -->
		<link rel="stylesheet" href="/static/css/odometer.css"  />

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js" ></script>
			<script src="js/respond.min.js" ></script>
		<![endif]-->
		<script>
			/*点击弹出按钮*/
		function addbox() {
			// alert("ad")
		var addbox = document.getElementById("box1");
			addbox.style.display = "block";
		};

		/*点击关闭按钮*/
		function closebox() {
			var addbox = document.getElementById("box1");
				addbox.style.display = "none";
		}
			/*点击弹出按钮*/
		function addbox2() {
			// alert("ad")
		var addbox = document.getElementById("box2");
			addbox.style.display = "block";
		};

		/*点击关闭按钮*/
		function closebox2() {
			var addbox = document.getElementById("box2");
				addbox.style.display = "none";
		}
		function addbox3(project_id,conname,objname){
			// alert("ad")
		var addbox = document.getElementById("box3");
			addbox.style.display = "block";
		var objectlink = document.getElementById("share_object");
		// $('chare_object').val('123');
			objectlink.value = "AUTH_"+project_id+"/"+conname+"/"+objname;
		};

		/*点击关闭按钮*/
		function closebox3() {
			var addbox = document.getElementById("box3");
				addbox.style.display = "none";
		}
		
		function addbox4(objname){
			// alert("ad")
		var addbox = document.getElementById("box4");
			addbox.style.display = "block";
		var objectname = document.getElementById("copied_objname");
		// $('chare_object').val('123');
			objectname.value = objname;
			// alert(objectname.value);
		};

		/*点击关闭按钮*/
		function closebox4() {
			var addbox = document.getElementById("box4");
				addbox.style.display = "none";
		}
		
		</script>
		{% endblock %}
		
		<style>
			#box1{
				display: none;
				position: absolute;
				background-color: whitesmoke;
				margin-top: -15%;
				margin-left: 20%; 
				height: auto;
				width: 600px;
				border-radius: 25px;
				z-index: 100;
			}
			#box2{
				display: none;
				position: absolute;
				background-color: whitesmoke;
				margin-top: -15%;
				margin-left: 20%; 
				height: auto;
				width: 600px;
				z-index: 100;
				border-radius: 25px;
			}
			#box3{
				display: none;
				position: absolute;
				background-color: whitesmoke;
				margin-top: -15%;
				margin-left: 20%; 
				height: auto;
				z-index: 100;
				width: 600px;
				border-radius: 25px;
			}
			#box4{
				display: none;
				position: absolute;
				background-color: whitesmoke;
				margin-top: -15%;
				margin-left: 20%; 
				height: auto;
				z-index: 100;
				width: 600px;
				border-radius: 25px;
			}
			.searchbtn{

				background: white;
				color: white;
				cursor: pointer;
			}
		</style>
	</head>

	<body>

		<!-- Header starts -->
		{% block header %}
		<header>

			<!-- Logo starts -->
			<a href="index.html"  class="logo">
				<!-- <img src="/static/img/logo.png"  alt="Arise Admin Dashboard Logo" /> -->
			</a>
			<!-- Logo ends -->

			<!-- Header actions starts -->
			<ul id="header-actions" class="clearfix">
				{% comment %} 三角tubiao {% endcomment %}
				
				{% comment %} 三角牌右边那个图标 {% endcomment %}
				
				<li class="list-box user-admin hidden-xs dropdown">
					<div class="admin-details">
						<div class="name">{{uname}}</div>
						<div class="designation">User</div>
					</div>
					<a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user"></i>
					</a>
					<ul class="dropdown-menu sm">
						<li class="dropdown-content">
							<!-- <a href="profile.html" >Edit Profile</a> -->
							<a href="{%url 'zy405:changepwd'%}" >Change Password</a>
							<!-- <a href="styled-inputs.html" >Settings</a> -->
							<a href="{%url 'zy405:loginout'%}" >Logout</a>
						</li>
					</ul>
				</li>
				<li>
					<button type="button" id="toggleMenu" class="toggle-menu">
						<i class="collapse-menu-icon"></i>
					</button>
				</li>
			</ul>
			<!-- Header actions ends -->

			<div class="custom-search hidden-sm hidden-xs">
				<form action="{%url 'zy405:getsearchobjs'%}" method="post">
				<input type="text" class="search-query" id="objname" name="objname" placeholder="Search here ...">
				<button type="submit" class="btn btn-success btn-transparent btn-rounded">
					<!-- <i class="icon-search3"></i> -->
					搜索
				</button>
				</form>
			</div>
		</header>
		{% endblock header %}
		<!-- Header ends -->

		<!-- Left sidebar start -->
        {% block vertical-nav %}
		<div class="vertical-nav">

			<!-- Collapse menu starts -->
			<button class="collapse-menu">
				<i class="icon-menu2"></i>
			</button>
			<!-- Collapse menu ends -->

			<!-- Current user starts -->
			<div class="user-details clearfix">
				{% comment %} ##########################改链接 {% endcomment %}
				<a href="profile.html"  class="user-img">
					<!-- <img src="/static/img/thumbs/user1.png"  alt="User Info"> -->
					{% comment %} <span class="likes-info">9</span> {% endcomment %}
				</a>
				<h5 class="user-name">菜单</h5>
			</div>
			<!-- Current user ends -->

			<!-- Sidebar menu start -->
			<ul class="menu clearfix">


				<li>
					<a href="{%url 'zy405:getcon'%}" >
						<i class="icon-drive"></i>
						<span class="menu-item">容器</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getallobjs'%}" >
						<i class="icon-layers3"></i>
						<span class="menu-item">所有对象</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getimgobjs'%}" >
						<i class="icon-folder-images"></i>
						<span class="menu-item">图片</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getdocobjs'%}" >
						<i class="icon-open-book"></i>
						<span class="menu-item">文档</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getvideoobjs'%}" >
						<i class="icon-folder-video"></i>
						<span class="menu-item">视频</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getotherobjs'%}" >
						<i class="icon-map3"></i>
						<span class="menu-item">其他</span>
					</a>
				</li>
				<li>
					<a href="{%url 'zy405:getrecentlyobjs'%}" >
						<i class="icon-stopwatch"></i>
						<span class="menu-item">最近使用</span>
					</a>
				</li>
				

			</ul>
			<!-- Sidebar menu snd -->
		</div>
        {% endblock vertical-nav %}
		<!-- Left sidebar end -->

		<!-- Dashboard Wrapper Start -->
		{% block content %}

		{% endblock content %}
		<!-- Dashboard Wrapper End -->

		<!-- Footer Start -->
		{% block footer %}
		<footer>
			Copyright zy0405 <span>2022</span>
		</footer>
		{% endblock footer%}
		<!-- Footer end -->

		{% block jsfooter %}
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/js/jquery.js" ></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js/bootstrap.min.js" ></script>

		<!-- Sparkline Graphs -->
		<script src="/static/js/sparkline/retina.js" ></script>
		<script src="/static/js/sparkline/custom-sparkline.js" ></script>
		
		<!-- jquery ScrollUp JS -->
		<script src="/static/js/scrollup/jquery.scrollUp.js" ></script>

		<!-- D3 JS -->
		<script src="/static/js/d3/d3.v3.min.js" ></script>

		<!-- D3 Power Gauge -->
		<script src="/static/js/d3/d3.powergauge.js" ></script>

		<!-- D3 Meter Gauge Chart -->
		<script src="/static/js/d3/gauge.js" ></script>
		<script src="/static/js/d3/gauge-custom.js" ></script>
		
		<!-- C3 Graphs -->
		<script src="/static/js/c3/c3.min.js" ></script>
		<script src="/static/js/c3/c3.custom.js" ></script>

		<!-- NVD3 JS -->
		<script src="/static/js/nvd3/nv.d3.js" ></script>
		<script src="/static/js/nvd3/nv.d3.custom.boxPlotChart.js" ></script>
		<script src="/static/js/nvd3/nv.d3.custom.stackedAreaChart.js" ></script>

		<!-- Horizontal Bar JS -->
		<script src="/static/js/horizontal-bar/horizBarChart.min.js" ></script>
		<script src="/static/js/horizontal-bar/horizBarCustom.js" ></script>

		<!-- Gauge Meter JS -->
		<script src="/static/js/gaugemeter/gaugeMeter-2.0.0.min.js" ></script>
		<script src="/static/js/gaugemeter/gaugemeter.custom.js" ></script>

		<!-- Calendar Heatmap JS -->
		<script src="/static/js/heatmap/cal-heatmap.min.js" ></script>
		<script src="/static/js/heatmap/cal-heatmap.custom.js" ></script>

		<!-- Odometer JS -->
		<script src="/static/js/odometer/odometer.min.js" ></script>
		<script src="/static/js/odometer/custom-odometer.js" ></script>

		<!-- Peity JS -->
		<script src="/static/js/peity/peity.min.js" ></script>
		<script src="/static/js/peity/custom-peity.js" ></script>

		<!-- Circliful js -->
		<script src="/static/js/circliful/circliful.min.js" ></script>
		<script src="/static/js/circliful/circliful.custom.js" ></script>
		<!-- Data Tables -->
		<script src="/static/js/datatables/dataTables.min.js" ></script>
		<script src="/static/js/datatables/dataTables.bootstrap.min.js" ></script>
		<script src="/static/js/datatables/dataTables.tableTools.js" ></script>
		<script src="/static/js/datatables/autoFill.min.js" ></script>
		<script src="/static/js/datatables/autoFill.bootstrap.min.js" ></script>
		<script src="/static/js/datatables/fixedHeader.min.js" ></script>
		<script src="/static/js/datatables/custom-datatables.js" ></script>
		
		<!-- Custom JS -->
		<script src="/static/js/custom.js" ></script>
		{% endblock jsfooter %}
	</body>
</html>